/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
  margin: 5px;
}

h1 {
  color: rgb(28, 161, 202);
  text-decoration: none;
  margin-bottom: 0.2em;
}

h2 {
  color: rgb(229, 241, 245);
  text-decoration: none;
}

#chars button[data-active="true"] {
  background-color: rgb(28, 161, 202);
}

.nodisplay {
  display: none;
}


button {
  background-color: gray;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 1.1em;*/
  border-radius: 3px;
}

.left {
  float: left;
  margin-right: 10px;
}

.block {
  margin: 10px;
}

input,
label {
  display: block;
}

.setclear {
  clear: both;
  margin-bottom: 1em;
}

#log {
  font-family: 'Courier New', monospace;
  height: 350px;
  overflow-y: auto;
  display: inline-block;
}

.send button {
  /*  font-family: 'Courier New', monospace;  */
  width: 5em;
  font-size: 11pt;
  display: inline;
 /* margin-right: 0px;*/
}

th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
}

#container {
  position: relative;
  display: inline-block;

}

#container * {
  scrollbar-gutter: stable;
}

#title {
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background-color: black;
  text-align: center;
  position: absolute;
  padding: 70px 0;
  vertical-align: middle;

  text-decoration: none;
  margin-bottom: 0.2em;

}

.large {
  font-size: 25pt;
  font-weight: bold;
  color: rgb(28, 161, 202);
}

#clock {
  vertical-align: bottom;
  /*margin: 30px;*/
  text-align: center;
  font-size: 18pt;
  color: rgb(28, 161, 202);
 /* display: inline-block;*/
  border-style: solid;
  border-color: gray;
 /* padding: 50px 0 50px;*/
}

#send_button {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4,1fr);
}

#input {
  display: flex;
  gap: 7px;
}

#low_row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#low_row > * {
  flex-grow: 0;
}

.flex {
  display: flex;
}


legend {
  padding: 3px 6px;
}

fieldset {
  padding: 6px;
}

.small_width {
  width: 1em;
}

.grid {
  display: grid;
  gap: 7px; 
}

.condx_grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid_form {
  display: grid;
  gap: 7px; 
  grid-template-columns: 1fr 0fr 0fr;
}

.flex_form {
  display: flex;
  gap: 7px;  
  align-items: baseline;
}

#run {
  width: 8em;
  height: 30px;
  background-color:darkgreen;
}

.stop {
  background-color:darkred !important;
}


.grid_result {
  display: grid;
  gap: 3px; 
  font-size: 10pt;
  grid-template-columns: 0fr 0fr 0fr;
}

.table_result {
  font-size: 11pt;
  border-spacing: 8px 0px;
  gap: 30px;
}

.table_result tr td:nth-child(n+1) { 
  text-align: right;
}

.box {
  padding: 10px;
}

.slider {
  width: 100%;
}

#title a {
  color: rgb(28, 161, 202);
}

#pileup {
  text-align: center;  
}


a {
  color: rgb(28, 161, 202);
}

.pileup_green {
    color:rgb(4, 161, 4);
 }

/*
.pileup_only {
  
}*/

.hidden {
  display: none;
}

.pileup_hidden {
  display: none;
}


#input  input {
  font-size: 14pt;
}
