/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
  margin: 5px;
}

h1 {
  color: rgb(28, 161, 202);
  text-decoration: none;
  margin-bottom: 0.2em;
}

h2 {
  color: rgb(229, 241, 245);
  text-decoration: none;
}

#chars button[data-active="true"] {
  background-color: rgb(28, 161, 202);
}


.nodisplay {
  display: none;
}


button {
  background-color: gray;
  border: none;
  margin: 3px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1em;
  border-radius: 7px;
}

.left {
  float: left;
  margin-right: 10px;
}

.block {
  margin: 15px;
}

input,
label {
  display: block;
}

.setclear {
  clear: both;
  margin-bottom: 1em;
}

#log {
  font-family: 'Courier New', monospace;
  height: 150px;  
  overflow-y: auto;
  display: inline-block;
}

th {
  position: sticky;
  top: 0;
  z-index: 2;  
  background-color: black;
}